################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/swig/dotnetcore/.vs/dotnetcore
/swig/dotnetcore/obj
/swig/dotnetcore/bin/Debug/netcoreapp2.1
